<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>moments.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3ADD61D81D55B8D2006F895D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ADD61E71D55B8D2006F895D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ADD61F21D55B8D2006F895D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
